
.navContent{
    top:0 !important;
    position: fixed !important;
    padding: 2%;
    font-size: large;
}
@media screen and (max-width:614px) {
    .logo {
        width: 150px;
        height: 130px;
    }
    
}
